<app-nav-default [variant]="['light', 'transparent']"></app-nav-default>
<section class="" id="showroom" (window:scroll)="windowScroll()">
    
    <div id="showroomCar" style="height: 100vh; width: 100vw;">
        <div  class="w-100 h-100 bg-black position-absolute z-3 d-flex justify-content-center align-items-center" style="top: 0; left: 0;" id="loadingDiv">
            <div class="loader">
                <div class="loader-square"></div>
                <div class="loader-square"></div>
                <div class="loader-square"></div>
                <div class="loader-square"></div>
                <div class="loader-square"></div>
                <div class="loader-square"></div>
                <div class="loader-square"></div>
            </div>
        </div>>
    </div>

    <div class="section position-relative">

        <div class="container carOptions z-1" id="carOptionsId">
            <div class="row p-2 rounded-pill bg-white cardOptionsItems">
                <div class="opt col-3 d-flex flex-row justify-content-between align-items-center border-end my-2 cardOptionsItem">
                    <span class="position-absolute z-2 ps-3">Tipo de Motor</span>
                    <select class="form-select p-3 z-3 bg-transparent" aria-label="" id="selectMotor">
                        <option value="0" selected></option>
                        <option value="1">Combustão</option>
                        <option value="2">Híbrido</option>
                        <option value="3">Elétrico</option>
                    </select>
                </div>
                
                <div class="opt col-3 d-flex flex-row justify-content-between align-items-center my-2 border-end cardOptionsItem">
                    <span class="position-absolute z-2">Tipo de Cambio</span>
                    <select class="form-select p-3 z-3 bg-transparent w-100 bg-danger" aria-label="" id="selectCambio">      
                        <option value="0" selected></option>
                        <option value="1">Manual</option>
                        <option value="2">Automático</option>
                        <option value="3">Sequencial</option>
                    </select>
                </div>
                <div class="opt col-3 d-flex flex-row justify-content-between align-items-center my-2 border-end cardOptionsItem">
                    <span class="position-absolute z-2">Quilometragem</span>
                    <select class="form-select p-3 z-3 bg-transparent" aria-label="" id="selectKm">
                        <option value="0" selected></option>
                        <option value="1">0 km</option>
                        <option value="2">Semi-novo</option>
                        <option value="3">Usado</option>
                    </select>
                </div>
                <div class="opt col-3 d-flex flex-row justify-content-between align-items-center my-2 px-3 cardOptionsItem position-relative" style="min-height: 56px;">
                    <input type="text" id="searchInput" placeholder="Pesquisar...">
                    <span class="rounded-circle bg-primary d-flex justify-content-center align-items-center" style="width: 40px; height: 40px; font-size: 18px;"><i class="bi bi-search text-white"></i></span>
                </div>
            </div>
        </div>

        <section class="section" style="max-height: 1056px; overflow-y: hidden;">
            <div class="container">       
                <h1>Encontre seu carro dos sonhos</h1>
                <p>Descubra o poder da liberdade sobre quatro rodas na nossa loja de carros - onde os sonhos ganham velocidade e a jornada se torna uma aventura!</p>


                <div class="cardCarros py-5">
                    <div class="row gap-4 d-flex justify-content-center align-items-center">
                        <div class="card p-4" style="width: 18rem;">
                            <h5 class="text-center justify-content-center align-items-center m-0">Porsche Carrera</h5>
                            <div class="cardImg w-100 d-flex justify-content-center" style="height: 180px;">
                                <img src="assets/images/imgCarros/porsche-718/esquerda.png" class="card-img-top py-5 object-fit-contain" alt="...">
                            </div>
                            <div class="card-body row">
                                <div class="cardItem p-0 col-4 d-flex flex-column justify-content-center align-items-center rounded-3">
                                    <i class="bi bi-fuel-pump fs-5"></i>
                                    <span style="font-size: 13px;">Combustão</span>
                                </div>
                                <div class="cardItem p-0 col-4 d-flex flex-column justify-content-center align-items-center rounded-3">
                                    <i class="bi bi-tools fs-5"></i>
                                    <span style="font-size: 13px;">Manual</span>
                                </div>
                                <div class="cardItem p-0 col-4 d-flex flex-column justify-content-center align-items-center rounded-3">
                                    <i class="bi bi-speedometer fs-5"></i>
                                    <span class="" style="font-size: 13px;">Semi-novo</span>
                                </div>
                            </div>
                        </div>

                        <div class="card p-4" style="width: 18rem;">
                            <h5 class="text-center justify-content-center align-items-center m-0">Lambo Huracan</h5>
                            <div class="cardImg w-100 d-flex justify-content-center" style="height: 180px;">
                                <img src="assets/images/imgCarros/lambo-huracan/esquerda.png" class="card-img-top py-5 object-fit-contain" alt="...">
                            </div>
                            <div class="card-body row">
                                <div class="cardItem p-0 col-4 d-flex flex-column justify-content-center align-items-center rounded-3">
                                    <i class="bi bi-fuel-pump fs-5"></i>
                                    <span style="font-size: 13px;">Combustão</span>
                                </div>
                                <div class="cardItem p-0 col-4 d-flex flex-column justify-content-center align-items-center rounded-3">
                                    <i class="bi bi-tools fs-5"></i>
                                    <span style="font-size: 13px;">Automatico</span>
                                </div>
                                <div class="cardItem p-0 col-4 d-flex flex-column justify-content-center align-items-center rounded-3">
                                    <i class="bi bi-speedometer fs-5"></i>
                                    <span class="" style="font-size: 13px;">Novo</span>
                                </div>
                            </div>
                        </div>

                        <div class="card p-4" style="width: 18rem;">
                            <h5 class="text-center justify-content-center align-items-center m-0">Mclaren GT</h5>
                            <div class="cardImg w-100 d-flex justify-content-center" style="height: 180px;">
                                <img src="assets/images/imgCarros/mclaren-gt/esquerda.png" class="card-img-top py-5 object-fit-contain" alt="...">
                            </div>
                            <div class="card-body row">
                                <div class="cardItem p-0 col-4 d-flex flex-column justify-content-center align-items-center rounded-3">
                                    <i class="bi bi-fuel-pump fs-5"></i>
                                    <span style="font-size: 13px;">Hibrido</span>
                                </div>
                                <div class="cardItem p-0 col-4 d-flex flex-column justify-content-center align-items-center rounded-3">
                                    <i class="bi bi-tools fs-5"></i>
                                    <span style="font-size: 13px;">Sequencial</span>
                                </div>
                                <div class="cardItem p-0 col-4 d-flex flex-column justify-content-center align-items-center rounded-3">
                                    <i class="bi bi-speedometer fs-5"></i>
                                    <span class="" style="font-size: 13px;">Usado</span>
                                </div>
                            </div>
                        </div>

                        <!-- SKELETON LOADER ================================== -->
                        <div class="card p-4 d-flex flex-column justify-content-center align-items-center" style="width: 18rem;">
                            <ngx-skeleton-loader animation="pulse" appearance="line" [theme]="{height: '24px', width: '130px'}" style="max-height: 24px;" />
                            <div class="cardImg w-100 d-flex justify-content-center align-items-center" style="height: 180px;">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '98px', width: '170px'}"/>
                            </div>
                            <div class="card-body row">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '49px', width: '170px'}" style="max-height: 54px;"/>
                            </div>
                        </div>
                        <div class="card p-4 d-flex flex-column justify-content-center align-items-center" style="width: 18rem;">
                            <ngx-skeleton-loader animation="pulse" appearance="line" [theme]="{height: '24px', width: '130px'}" style="max-height: 24px;" />
                            <div class="cardImg w-100 d-flex justify-content-center align-items-center" style="height: 180px;">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '98px', width: '170px'}"/>
                            </div>
                            <div class="card-body row">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '49px', width: '170px'}" style="max-height: 54px;"/>
                            </div>
                        </div>
                        <div class="card p-4 d-flex flex-column justify-content-center align-items-center" style="width: 18rem;">
                            <ngx-skeleton-loader animation="pulse" appearance="line" [theme]="{height: '24px', width: '130px'}" style="max-height: 24px;" />
                            <div class="cardImg w-100 d-flex justify-content-center align-items-center" style="height: 180px;">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '98px', width: '170px'}"/>
                            </div>
                            <div class="card-body row">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '49px', width: '170px'}" style="max-height: 54px;"/>
                            </div>
                        </div>
                        <div class="card p-4 d-flex flex-column justify-content-center align-items-center" style="width: 18rem;">
                            <ngx-skeleton-loader animation="pulse" appearance="line" [theme]="{height: '24px', width: '130px'}" style="max-height: 24px;" />
                            <div class="cardImg w-100 d-flex justify-content-center align-items-center" style="height: 180px;">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '98px', width: '170px'}"/>
                            </div>
                            <div class="card-body row">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '49px', width: '170px'}" style="max-height: 54px;"/>
                            </div>
                        </div>
                        <div class="card p-4 d-flex flex-column justify-content-center align-items-center" style="width: 18rem;">
                            <ngx-skeleton-loader animation="pulse" appearance="line" [theme]="{height: '24px', width: '130px'}" style="max-height: 24px;" />
                            <div class="cardImg w-100 d-flex justify-content-center align-items-center" style="height: 180px;">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '98px', width: '170px'}"/>
                            </div>
                            <div class="card-body row">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '49px', width: '170px'}" style="max-height: 54px;"/>
                            </div>
                        </div>
                        <div class="card p-4 d-flex flex-column justify-content-center align-items-center" style="width: 18rem;">
                            <ngx-skeleton-loader animation="pulse" appearance="line" [theme]="{height: '24px', width: '130px'}" style="max-height: 24px;" />
                            <div class="cardImg w-100 d-flex justify-content-center align-items-center" style="height: 180px;">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '98px', width: '170px'}"/>
                            </div>
                            <div class="card-body row">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '49px', width: '170px'}" style="max-height: 54px;"/>
                            </div>
                        </div>
                        <div class="card p-4 d-flex flex-column justify-content-center align-items-center" style="width: 18rem;">
                            <ngx-skeleton-loader animation="pulse" appearance="line" [theme]="{height: '24px', width: '130px'}" style="max-height: 24px;" />
                            <div class="cardImg w-100 d-flex justify-content-center align-items-center" style="height: 180px;">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '98px', width: '170px'}"/>
                            </div>
                            <div class="card-body row">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '49px', width: '170px'}" style="max-height: 54px;"/>
                            </div>
                        </div>
                        <div class="card p-4 d-flex flex-column justify-content-center align-items-center" style="width: 18rem;">
                            <ngx-skeleton-loader animation="pulse" appearance="line" [theme]="{height: '24px', width: '130px'}" style="max-height: 24px;" />
                            <div class="cardImg w-100 d-flex justify-content-center align-items-center" style="height: 180px;">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '98px', width: '170px'}"/>
                            </div>
                            <div class="card-body row">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '49px', width: '170px'}" style="max-height: 54px;"/>
                            </div>
                        </div>
                        <div class="card p-4 d-flex flex-column justify-content-center align-items-center" style="width: 18rem;">
                            <ngx-skeleton-loader animation="pulse" appearance="line" [theme]="{height: '24px', width: '130px'}" style="max-height: 24px;" />
                            <div class="cardImg w-100 d-flex justify-content-center align-items-center" style="height: 180px;">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '98px', width: '170px'}"/>
                            </div>
                            <div class="card-body row">
                                <ngx-skeleton-loader animation="pulse" [theme]="{height: '49px', width: '170px'}" style="max-height: 54px;"/>
                            </div>
                        </div>

                        <!-- SKELETON LOADER ================================== -->

                       
                    </div>
                </div>
            </div>
        </section>
        
    </div>
</section>
<app-cube-test (isLoading)="showLoader($event)" [scrolldown]="this.scrollDown" ></app-cube-test>
<app-footer-default/>