<app-nav-default [variant]="['', 'slow']"></app-nav-default>

<div class="account-pages user-select-none section pt-0" (window:scroll)="windowScroll()">
    <section class="section bgSectionRegister d-flex align-items-end position-relative justify-content-center">
      <div class="bgSectionMask" [ngClass]="" id="bgSectionMask"></div>
    </section>
    <div class="col-md-8 col-lg-6 col-xl-5" id="formRegister">
      <div class="card overflow-hidden">
        <div class="bgRegister">
            <div class="col-12 h-100">
              <div class="text-white p-4 h-100 d-flex flex-column justify-content-center">
                <h5 class="">Vamos criar sua conta.</h5>
                <p class="m-0 fs-6">Preencha os campos abaixo.</p>
              </div>
            </div>
        </div>
        <div class="card-body pt-0">
          <div class="p-2 mt-2">
            <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="submitSignIn()">

              <div *ngIf="successmsg != ''" class="alert alert-success" role="alert">
                Registro concluido.
            </div>
            
            <div *ngIf="errormsg != ''" class="alert alert-danger" role="alert">
                {{ errormsg }}
            </div>

              <div class="mb-3 mt-2 d-flex flex-column">

                <div class="mb-3 mt-2 d-flex flex-column">

                  <label for="name">
                    Nome
                  </label>
                  <div class="input-group">
                    <input  type="text" formControlName="name" class="form-control" id="name" [placeholder]="''"
                    [ngClass]="{ 'is-invalid': f['name'].errors && isSubmited}"  (input)="onInput()"/>
  
                    <button class="btn btn-light ms-0 text-black" type="button" id="name-addon" (click)="resetForms()"></button>
                  </div>
                  
                </div>

                <label for="email">
                  Email
                </label>
                <div class="input-group">
                  <input  type="email" formControlName="email" class="form-control" id="email" [placeholder]="''"
                  [ngClass]="{ 'is-invalid': f['email'].errors && isSubmited}"  (input)="onInput()"/>

                  <button class="btn btn-light ms-0 text-black" type="button" id="email-addon" (click)="resetForms()"><i class="bi bi-x"></i></button>
                </div>
                
              </div>

              <div class="mb-3 mt-2">
                <label for="password">Senha</label>
                <div class="input-group auth-pass-inputgroup">
                    <input [type]="getInputType()" class="form-control" formControlName="password" placeholder=""
                        [ngClass]="{ 'is-invalid': f['password'].errors && isSubmited}" aria-label="Password"
                        aria-describedby="password-addon" (input)="onInput()">
            
                    <button class="btn btn-light ms-0" type="button" id="password-addon"
                        (click)="togglePasswordVisibility()">
                          <i *ngIf="!hidePassword" class="bi bi-eye-fill"></i>
                          <i *ngIf="hidePassword" class="bi bi-eye-slash-fill"></i>
                        </button>
                </div>
            </div>
            
            <div class="mb-3 mt-2">
                <label for="password2">Confirmar senha</label>
                <div class="input-group auth-pass-inputgroup">
                    <input [type]="getInputType()" class="form-control" formControlName="passwordConfirm" placeholder=""
                        [ngClass]="{ 'is-invalid': f['passwordConfirm'].errors && isSubmited}" aria-label="Password2"
                        aria-describedby="password2-addon" (input)="onInput()"> 
          
                </div>
            </div>
            

              <div class="">  
                <div>
                  <p class="mt-4">
                    Já tem conta? <span routerLink="/account/login" role="button" class="text-primary">fazer login.</span>
                  </p>
                </div>
            
            </div>

              <div class="my-4 d-grid d-flex flex-column align-items-center">
                <button 
                  class="btn btn-dark w-50 shadow-none d-flex justify-content-center" 
                  type="submit" 
                  [disabled]="isButtonDisabled ? 'disabled' : null">
                  <span>Avançar</span>
                </button>
                
              </div>

              <hr>

              <div class="mt-4 text-center">
                <h5 class="mb-3">Logar com</h5>

                <ul class="list-inline fs-4">
                  <li class="list-inline-item m-0">
                    <a href="javascript::void()" class="social-list-item text-black border-primary">
                      <i class="bi bi-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mx-3">
                    <a href="javascript::void()" class="social-list-item text-black border-info">
                      <i class="bi bi-twitter-x"></i>
                    </a>
                  </li>
                  <li class="list-inline-item m-0">
                    <a href="javascript::void()" class="social-list-item text-black border-danger">
                      <i class="bi bi-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </form>
          </div>

        </div>
      </div>
      <div class="mt-5 text-center">
        <p>© {{year}} Ziem Motors | CaueDev</p>
      </div>

    </div>
    
  
    <!-- end container -->
  </div>
  <!-- end page -->