<footer class="footer position-relative" style="width: 100%">
    <div class="container-fluid w-100 position-relative px-3 d-none d-sm-block">
        <div class="row d-flex flex-row justify-content-between">
            <div class="col">
                {{year}} © Ziem Motors
            </div>
            <div class="col">
                <div class="text-sm-end d-none d-md-block">
                    Desenvolvido por CaueDev.
                </div>
                <div class="text-sm-end d-none d-sm-block d-md-none">
                    CaueDev.
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid w-100 position-relative px-3 d-flex d-sm-none justify-content-center">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="">
                {{year}} © Ziem Motors | CaueDev.
            </div>
        </div>
    </div>
</footer>