<footer class="footer position-relative" style="width: 100%">
    <div class="container-fluid w-100 position-relative px-3 d-none d-sm-block">
        <div class="row d-flex flex-row justify-content-between">
            <div class="col">
                {{year}} © Ziem Motors
            </div>
            <div class="col" >
                <div class="text-sm-end d-none d-md-block">
                    <a class="text-decoration-none text-black" href="https://github.com/CaueFer" target="_blank">Desenvolvido por CaueDev.</a>
                </div>
                <div class="text-sm-end d-none d-sm-block d-md-none">
                    <a class="text-decoration-none text-black" href="https://github.com/CaueFer" target="_blank">CaueDev.</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid w-100 position-relative px-3 d-flex d-sm-none justify-content-center">
        <div class="row d-flex justify-content-center align-items-center ">
            <a class="text-decoration-none text-black" href="https://github.com/CaueFer" target="_blank">
                {{year}} © Ziem Motors | CaueDev.
            </a>
        </div>
    </div>
</footer>