<app-nav-default></app-nav-default>
<div class="content">

  <section class="section position-relative w-100 pt-0" id="home">
    <owl-carousel-o [options]="mainOptions" class="" id="carouselHome">
      <ng-template carouselSlide [id]="'slide1'"> 
          <img class="object-fit-cover" style="height: 100vh;" [src]="'assets/images/carousel/slide1.jpg' || 'assets/images/carousel/default.jpg'" alt="imgSlide1">
      </ng-template>  
      <ng-template carouselSlide [id]="'slide2'"> 
          <img class="object-fit-cover" style="height: 100vh;"  [src]="'assets/images/carousel/slide2.jpg' || 'assets/images/carousel/default.jpg'" alt="imgSlide2">
      </ng-template>  
      <ng-template carouselSlide [id]="'slide3'"> 
          <img class="object-fit-cover" style="height: 100vh;"  [src]="'assets/images/carousel/slide3.jpg' || 'assets/images/carousel/default.jpg'" alt="imgSlide3">
      </ng-template>  
    </owl-carousel-o>

    <div class="container features d-flex flex-column">
      <div class="text d-flex flex-column">
        <h1 class="fw-bold">Nossa empresa traz exclusividade e luxo aos nossos clientes</h1>
        <h4>Todos os carros são verificados e autenticados pelas marcas originais.</h4>
      </div>

      <div class="carouselMarcas row py-5 smoothScroll">
        <owl-carousel-o [options]="brandsOption" class="events navs-carousel">
          <ng-template carouselSlide>
              <div class="item">
                  <div class="client-images">
                      <img src="assets/images/marcas/lambo.png" alt="client-img"
                          class="mx-auto img-fluid d-block">
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="client-images">
                      <img src="assets/images/marcas/ferrari.png" alt="client-img"
                          class="mx-auto img-fluid d-block">
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="client-images">
                      <img src="assets/images/marcas/porsche.png" alt="client-img"
                          class="mx-auto img-fluid d-block">
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="client-images">
                      <img src="assets/images/marcas/bmw.png" alt="client-img"
                          class="mx-auto img-fluid d-block">
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="client-images">
                      <img src="assets/images/marcas/mercedez.png" alt="client-img"
                          class="mx-auto img-fluid d-block">
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="client-images">
                      <img src="assets/images/marcas/audi.png" alt="client-img"
                          class="mx-auto img-fluid d-block">
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="client-images">
                      <img src="assets/images/marcas/tesla.png" alt="client-img"
                          class="mx-auto img-fluid d-block">
                  </div>
              </div>
          </ng-template>
      </owl-carousel-o>
      </div>
    </div>
  </section>

  <section class="" id="destaques">
    <div class="text-center mb-5">
        <div class="small-title text-black ">Destaques</div>
        <h4 class="text-black">Nossos veiculos</h4>
    </div>
    
  </section>

</div>
<app-footer-default></app-footer-default>