<app-nav-default></app-nav-default>
<div class="content">

  <section class="section position-relative w-100 pt-0" id="home">
    <owl-carousel-o [options]="mainOptions" class="" id="carouselHome">
      <ng-template carouselSlide [id]="'slide3'"> 
          <img class="object-fit-cover" style="height: 87vh;"  [src]="'assets/images/carousel/slide3.jpg' || 'assets/images/carousel/default.jpg'" alt="imgSlide3">
      </ng-template>  
    </owl-carousel-o>

    <div class="container features d-flex flex-column">
      <div class="text row d-flex flex-row">
        <div class="col">
            <h1 class="fw-bold pt-3 ps-3" style="font-size: 56px;">PREMIUM CARS</h1>
            <p class="pt-5 pb-3 ps-3 fs-3 m-0">Exclusividade e luxo aos nossos clientes</p>
            <p class="pb-4 ps-3 fs-3 m-0">Todos os carros são verificados e autenticados pelas marcas originais.</p>
            
            <hr>

            <div class="btnHome ps-3 pt-4">
                <button type="button" class="btn btn-dark px-4 py-3 fs-4"  routerLink="/showroom">Ver carros</button>
            </div>
        </div>
        <div class="col position-relative" style="height: 470px; width: 50%;">
            <img src="assets/images/landing/landing2.jpg" class="object-fit-cover w-100 h-100 position-absolute" alt="carImg" style="top: 80px;left: 60px;">
        </div>
      </div>

      <div class="carouselMarcas row my-5 smoothScroll" style="padding: 120px 0px">
        <owl-carousel-o [options]="brandsOption" class="events navs-carousel">
          <ng-template carouselSlide>
              <div class="item">
                  <div class="client-images">
                      <img src="assets/images/marcas/lambo.png" alt="client-img"
                          class="mx-auto img-fluid d-block">
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="client-images">
                      <img src="assets/images/marcas/ferrari.png" alt="client-img"
                          class="mx-auto img-fluid d-block">
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="client-images">
                      <img src="assets/images/marcas/porsche.png" alt="client-img"
                          class="mx-auto img-fluid d-block">
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="client-images">
                      <img src="assets/images/marcas/bmw.png" alt="client-img"
                          class="mx-auto img-fluid d-block">
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="client-images">
                      <img src="assets/images/marcas/mercedez.png" alt="client-img"
                          class="mx-auto img-fluid d-block">
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="client-images">
                      <img src="assets/images/marcas/audi.png" alt="client-img"
                          class="mx-auto img-fluid d-block">
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="client-images">
                      <img src="assets/images/marcas/tesla.png" alt="client-img"
                          class="mx-auto img-fluid d-block">
                  </div>
              </div>
          </ng-template>
      </owl-carousel-o>
      </div>

      <div class="text row d-flex flex-row">
         <div class="col position-relative" style="height: 470px; width: 50%;">
            <img src="assets/images/landing/findCar.png" class="object-fit-cover w-100 h-100 position-absolute" alt="carImg" style="top: -60px;left: -40px;">
        </div>

        <div class="col">
            <h1 class="fw-bold pt-3 ps-3 text-end" style="font-size: 56px;">FIND CARS</h1>
            <p class="pt-5 pb-3 ps-3 fs-3 m-0 text-end">Utilize nossa plataforma FIND CARS para encontrar a loja mais perto de você</p>
            
            <hr>

            <div class="btnHome ps-3 pt-4 d-flex justify-content-end">
                <button type="button" class="btn btn-dark px-4 py-3 fs-4" routerLink="/stores">Encontrar</button>
            </div>
        </div>
       
      </div>
    </div>
  </section>

</div>
<app-footer-default></app-footer-default>