<section class="">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul
      class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion"
      id="accordionSidebar"
    >
      <!-- Sidebar - Brand -->
      <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        routerLink="/"
      >
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">ZiemMotors</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0" />

      <!-- Heading -->
      <div class="sidebar-heading">Menu</div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a
          class="nav-link collapsed d-flex flex-row justify-content-between align-items-center align-middle"
          href="javascript:void(0)"
          aria-expanded="true"
        >
          <span>Perfil</span>
          <i class="bi bi-arrow-right-short fs-4"></i>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider" />
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav
          class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
        >
          <!-- Sidebar Toggle (Topbar) -->
          <button
            id="sidebarToggleTop"
            class="btn btn-link d-md-none rounded-circle mr-3"
          >
            <i class="bi bi-list"></i>
          </button>

          <!-- Topbar Search -->
          <form
            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
          >
            <div class="input-group">
              <input
                type="text"
                class="form-control bg-light border-0 small"
                placeholder="Pesquisar por..."
                aria-label="Search"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <button class="btn btn-dark" type="button">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a
                class="nav-link dropdown-toggle"
                href="javascript:void(0)"
                id="searchDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="bi bi-search"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div
                class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown"
              >
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control bg-light border-0 small"
                      placeholder="Search for..."
                      aria-label="Search"
                      aria-describedby="basic-addon2"
                    />
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="bi bi-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a
                class="nav-link dropdown-toggle"
                href="javascript:void(0)"
                id="alertsDropdown"
                role="button"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-bell-fill"></i>
                <span class="badge badge-danger badge-counter">2+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div
                class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown"
              >
                <h6 class="dropdown-header">Notificações Recentes</h6>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="bi bi-car-front-fill text-white fs-4"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Dezembro 12, 2023</div>
                    <span class="">Novo carro a venda!</span>
                  </div>
                </a>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="javascript:void(0)"
                >
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="bi bi-shop-window text-white fs-4"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Dezembro 7, 2021</div>
                    Nova loja foi aberta perto de você!
                  </div>
                </a>
                <a
                  class="dropdown-item text-center small text-gray-500"
                  href="javascript:void(0)"
                  >Ver notificações</a
                >
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a
                class="nav-link dropdown-toggle"
                href="javascript:void(0)"
                id="userDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{
                  userModel.name
                }}</span>
                <img
                  class="img-profile rounded-circle"
                  [src]="imgUser ? imgUser : 'assets/images/profile/undraw_profile_2.svg'"
                />
              </a>
              <!-- Dropdown - User Information -->
              <div
                class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
              >
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="bi bi-person mr-2 text-black"></i>
                  Perfil
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="bi bi-gear mr-2 text-black"></i>
                  Configurações
                </a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  (click)="openModal('logout')"
                >
                  <i class="bi bi-box-arrow-left mr-2 text-black"></i>
                  Sair
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div
            class="d-sm-flex align-items-center justify-content-between mb-4"
          >
            <h1 class="h3 mb-0 text-gray-800">Perfil</h1>
            <div class="rightSide">
              <a
                href="javascript:void(0)"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                (click)="openModal('infos')"
              >
                <i class="fas fa-download fa-sm text-white-50"></i>
                Salvar e enviar
              </a>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <!-- <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Earnings (Monthly)</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

            <!-- Earnings (Monthly) Card Example -->
            <!-- <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Earnings (Annual)</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
          </div>

          <!-- Content Row -->

          <div class="row">
            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                >
                  <h6 class="m-0 font-weight-bold text-primary">Imagem</h6>
                  <div class="dropdown no-arrow">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      role="button"
                      id="dropdownMenuLink"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i
                        class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"
                      ></i>
                    </a>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body"  style="height: 390px;">
                  <div class="card-body text-center">
                    <img
                      [src]="imgUser ? imgUser : 'assets/images/profile/undraw_profile_2.svg'"
                      alt="avatar"
                      class="rounded-circle img-fluid"
                      style="width: 150px; height: 150px;"
                    />
                    <h5 class="my-3">{{ userModel.name }}</h5>
                    <p class="text-muted mb-4">{{ userModel.email }}</p>
                    <div class="d-flex justify-content-center mb-2">
                      <button
                        type="button"
                        class="btn btn-outline-primary ms-1"
                        style="box-shadow: none!important;"
                        (click)="fileInput.click()"
                      >
                        Editar foto
                        <i class="bi bi-pencil-square ms-2"></i>
                      </button>
                      <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;" #fileInput>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                >
                  <h6 class="m-0 font-weight-bold text-primary">Informações</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body" style="height: 390px;">
                  <div class="chart-area">  
                    <div class="card-body">
                      <form [formGroup]="userInfos">
                        <div class="row position-relative">
                          <div class="col-sm-3">
                            <p class="mb-0">Nome</p>
                          </div>
                          <div class="col-sm-9 position-relative d-flex flex-row justify-content-between align-middle">
                            <input
                              type="text"
                              class="form-control"
                              formControlName="name" 
                            />
                            <span *ngIf="inputsChanged['name']" class="bi bi-cloud-download fs-5 position-absolute" style="left: 92%;  top: 50%; transform: translateY(-50%);"></span>
                            <span *ngIf="successAtt" class="bi bi-check2 fs-5 position-absolute text-success" style="left: 92%;  top: 50%; transform: translateY(-50%);"></span>
                          </div>
                        </div>
                        <hr />
                        <div class="row position-relative">
                          <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                          </div>
                          <div class="col-sm-9 position-relative d-flex flex-row justify-content-between align-middle">
                            <input
                              type="email"
                              class="form-control"
                              formControlName="email"
                            />
                            <span *ngIf="inputsChanged['email']" class="bi bi-cloud-download fs-5 position-absolute" style="left: 92%;  top: 50%; transform: translateY(-50%);"></span>
                            <span *ngIf="successAtt" class="bi bi-check2 fs-5 position-absolute text-success" style="left: 92%;  top: 50%; transform: translateY(-50%);"></span>
                          </div>
                        </div>
                        <hr />
                        <div class="row position-relative">
                          <div class="col-sm-3">
                            <p class="mb-0">Telefone</p>
                          </div>
                          <div class="col-sm-9 position-relative d-flex flex-row justify-content-between align-middle">
                            <input
                              type="tel"
                              class="form-control"
                              formControlName="telefone"
                            />
                            <span *ngIf="inputsChanged['telefone']" class="bi bi-cloud-download fs-5 position-absolute" style="left: 92%; top: 50%; transform: translateY(-50%);"></span>
                            <span *ngIf="successAtt" class="bi bi-check2 fs-5 position-absolute text-success" style="left: 92%;  top: 50%; transform: translateY(-50%);"></span>
                          </div>
                        </div>
                        <hr />
                        <div class="row position-relative">
                          <div class="col-sm-3">
                            <p class="mb-0">Endereço</p>
                          </div>
                          <div class="col-sm-9 position-relative d-flex flex-row justify-content-between align-middle">
                            <input
                              type="text"
                              class="form-control"
                              formControlName="endereco"
                            />
                            <span *ngIf="inputsChanged['endereco']" class="bi bi-cloud-download fs-5 position-absolute" style="left: 92%; top: 50%; transform: translateY(-50%);"></span>
                            <span *ngIf="successAtt" class="bi bi-check2 fs-5 position-absolute text-success" style="left: 92%;  top: 50%; transform: translateY(-50%);"></span>
                          </div>
                        </div>  
                      </form>
                    </div>
                    <span *ngIf="getInputsChangedLength() > 0" class="fs-5 position-absolute z-3 text-gray-600" style="left: 0%;  top: 95%; padding-left: 20px;">Dados alterados, lembre-se de salvar.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer-default />
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <ng-template #logoutModal>
    <div class="modal-header">
      <h5 class="modal-title">Quer mesmo sair?</h5>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Clicar em "Logout" irá encerrar sua sessão atual.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">
        Cancel
      </button>
      <button type="button" class="btn btn-primary" (click)="logout()">
        Logout
      </button>
    </div>
  </ng-template>
  <!-- Logout Modal-->

  <!-- Infos Modal-->
  <ng-template #infosModal>
    <div class="modal-header">
      <h5 class="modal-title">Atualizar Informações</h5>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Tem certeza que deseja atualizar suas Informações?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">
        Cancel
      </button>
      <button type="button" class="btn btn-primary" (click)="onSubmitInfos()">
        Atualizar
      </button>
    </div>
  </ng-template>
  <!-- Infos Modal-->
  
  <!-- saveInfos Modal-->
  <ng-template #saveInfosModal>
      <div class="modal-body d-flex flex-column justify-content-center align-items-center fs-5 p-4 py-5" id="saveInfosModal">
        <button
          type="button"
          class="close position-absolute" style="top: 10%; left: 93%;"
          aria-label="Close"
          (click)="modalRef.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <section *ngIf="isLoading" class="dots-container mb-3">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </section>
        <section *ngIf="!isLoading" class="containerCheck mb-3">
          <div class="checkmark d-flex justify-content-center align-items-center"><i class="bi bi-check2 align-middle"></i></div>
        </section>
        salvando suas informações
      </div>
  </ng-template>
  <!-- saveInfos Modal-->
</section>
