<nav class="navbar navbar-expand-lg navigation fixed-top sticky" (window:scroll)="windowScroll()" id="navbar" [ngClass]="{'dark': variant[0] === 'dark', 'slow': variant[1] === 'slow', 'transparent': variant[1] === 'transparent'}">
    <div class="container">
        <a class="navbar-logo d-flex " routerLink="/">
            <img [src]="isSticky || variant[0] === 'dark' ? 'assets/images/logos/logoCar-black.png' : 'assets/images/logos/logoCar-white.png'" alt="logo"  height="40px" style="max-width: 140px;">
        </a>

        <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" data-toggle="collapse"
            data-target="#topnav-menu-content" (click)="toggleMenu()">
            <i class="fa fa-fw fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="topnav-menu-content">
            <ul class="navbar-nav ms-auto align-items-center" id="topnav-menu">
                <li class="nav-item">   
                    <a class="nav-link me-3" href="javascript: void(0);" routerLink="" [ngxScrollTo]="'home'"
                        [ngClass]="{'active':currentSection === 'home'}">Home</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="javascript: void(0);" routerLink="/showroom"
                        [ngClass]="{'active':currentSection === 'beneficios'}">Showroom</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="javascript: void(0);" routerLink=""
                        [ngClass]="{'active':currentSection === 'planos'}">Lojas</a>
                </li>
                <li class="nav-item me-3 fs-4"> 
                    <a class="nav-link" routerLink="../account">
                        <i class="bi bi-person-circle"></i>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>